@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Mukta', sans-serif;
}

body{
    background-image: url('./images/bg-intro-desktop.png');
    background-color: rgb(235, 111, 111);
}

.content{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*   LEFT SIDE   */

.container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
   /* border: 1px solid black; */
}

h1{
    font-size: 56px;
    font-weight: 800;
    line-height: 1em;
    margin-bottom: 50px;
}

h4{
    font-size: 18px;
    font-weight: 500;
}

/*   FORMULAR   */

.information{
    width: 50%;
    margin-right: 40px;
    color: white;
}

.form{
    width: 50%;
}

.banner{
    background-color: rgb(116, 83, 156);
    color: white;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 5px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.fields{
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 2px 10px 2px rgba(0, 0, 0, 0.2);
    padding-right: 50px;
}

form{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.field{
    position: relative;
}

input{
    padding: 12px;
    margin: 16px;
    border: 1px solid lightgrey;
    color: grey;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
}

/* error and success */

.error-message{
    position:absolute;
    top: 65px;
    left: 20px;
    color:rgb(235, 111, 111);
    font-style: italic;
    font-size: 12px;
    visibility: hidden;
}

.error-icon{
    position: absolute;
    bottom: 30px;
    right: -2px;
    visibility: hidden;
}

.error-icon.animate{
    animation-name: moveErrorIcon;
    animation-duration: 0.2s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}

@keyframes moveErrorIcon{  
    0% {transform: translateX(0);}
    25% {transform: translateX(2px);}
    75% {transform: translateX(-2px);}
   100% {transform: translateX(0);}
}

.field.error input{
    border-color: rgb(237, 119, 119);
}
 
/*
.field.error .error-icon{
    visibility: visible;
}

.field.error .error-message{
    visibility: visible;
}
*/

.field.success input{
    border-color: lightgray;
}

/*
.field.success .error-icon{
    visibility:hidden;
}

.field.success .error-message{
    visibility: hidden;
}
*/

/*button*/ 

.button{
    background-color: rgb(86, 173, 86);
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2em;
}

.button:hover{
    cursor: pointer;
}

.button:active{
    background-color: darkgreen;
}

.terms{
    font-size: 10px;
    color: darkgray;
    padding: 0 16px;
    text-align: center;

}

.red{
    color: rgb(235, 106, 106);
}

/*   FOOTER   */

footer{
    background-color: white;
}